<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Giorno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="banner">
    <button class="back-button" onclick="goBack()">⏪</button>
    <a href="/">ZeroCalendar</a>
    <button class="forward-button" onclick="goForward()">⏩</button>
</div>

<h1>Eventi {{ day }}/{{ month }}/{{ year }}</h1>

<div class="calendar-container">
    {% for item in day_objects %}
        <div class="day-entry color-{{ loop.index0 % 3 }}">
            <div class="day-header" onclick="toggleDetails(this)">
                <span>
                    {{ item.when.strftime('%H:%M') }} - {{ item.title }}
                    <span class="edit-icon" onclick="event.stopPropagation(); toggleEditForm(this)">✏️</span>
                    <span class="delete-icon" onclick="event.stopPropagation(); confirmDelete({{ item.id }})">🗑️</span>
                </span>
                <span class="arrow">▼</span>
            </div>
            <div class="day-info-container">
                <div class="day-details">
                    <p>Caricato da: <strong>{{ item.username }}</strong></p>
                    <hr>
                    <p><strong>Descrizione:</strong></p>
                    <p style="white-space: pre-wrap;">{{ item.description }}</p>

                    {% if item.old_version != 'Nessuna versione precedente' %}
                        <hr>
                        <p><strong>Versione precedente:</strong></p>
                        <p style="white-space: pre-wrap;">{{ item.old_version }}</p>
                    {% endif %}

                    {% if item.last_modified_desc != '' %}
                        <hr>
                        <p><strong>Modifiche:</strong></p>
                        <p style="white-space: pre-wrap;">{{ item.last_modified_desc }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="edit-form">
                <h3>Modifica evento:</h3>
                <form action="/modify_event/{{ item.id }}" method="POST">
                    <br>
                    <label for="edit-title-{{ loop.index }}">Titolo</label>
                    <input type="text" id="edit-title-{{ loop.index }}" name="title" value="{{ item.title }}">

                    <span class="small-divisor"></span>

                    <label for="edit-date-{{ loop.index }}">Giorno</label>
                    <input type="date" id="edit-date-{{ loop.index }}" name="day" value="{{ item.day.strftime('%Y-%m-%d') }}">

                    <span class="small-divisor"></span>

                    <label>Orario</label>
                    <div class="time-select">
                        <select name="edit-hour" id="edit-hour-{{ loop.index }}">
                            {% for h in range(0, 24) %}
                                <option value="{{ "%02d" % h }}" {% if "%02d" % h == "12" %}selected{% endif %}>{{ "%02d" % h }}</option>
                            {% endfor %}
                        </select>
                        :
                        <select name="edit-minute" id="edit-minute-{{ loop.index }}">
                            {% for m in range(0, 60) %}
                                <option value="{{ "%02d" % m }}" {% if "%02d" % m == "00" %}selected{% endif %}>{{ "%02d" % m }}</option>
                            {% endfor %}
                        </select>
                    </div>
            
                    <span class="small-divisor"></span>

                    <label for="edit-desc-{{ loop.index }}">Descrizione</label>
                    <textarea id="edit-desc-{{ loop.index }}" name="description">{{ item.description }}</textarea>
            
                    <br>
                    <!-- Submit Button -->
                    <button type="submit" class="button button-{{ loop.index0 % 3 }} edit-submit">Modifica Evento</button>

                </form>
            </div>
        </div>
    {% endfor %}
</div>

<div class="filler"></div>

<script src="{{ url_for('static', filename='animations.js') }}"></script>
<script src="{{ url_for('static', filename='general.js') }}"></script>

</body>
</html>
