<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Giorno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="banner">
    <button class="back-button" onclick="goBack()">⏪</button>
    <a href="/">ZeroCalendar</a>
    <button class="forward-button" onclick="goForward()">⏩</button>
</div>

<h1>Eventi {{ day }}/{{ month }}/{{ year }}</h1>

<div class="calendar-container">
    {% for item in day_objects %}
        <div class="day-entry color-{{ loop.index0 % 3 }}">
            <div class="day-header" onclick="toggleDetails(this)">
                <span>
                    {{ item.when.strftime('%H:%M') }} - {{ item.title }}
                    <span class="edit-icon" onclick="event.stopPropagation(); toggleEditForm(this)">✏️</span>
                </span>
                <span class="arrow">▼</span>
            </div>
                <div class="day-details">
                    <p>Caricato da: <strong>{{ item.username }}</strong></p>

                    <hr>
                    <p><strong>Descrizione:</strong></p>
                    <p style="white-space: pre-wrap;">{{ item.description }}</p>

                    {% if item.old_version != 'Nessuna versione precedente' %}
                        <hr>
                        <p><strong>Versione precedente:</strong></p>
                        <p style="white-space: pre-wrap;">{{ item.old_version }}</p>
                    {% endif %}

                    {% if item.last_modified_desc != '' %}
                        <hr>
                        <p><strong>Modifiche:</strong></p>
                        <p style="white-space: pre-wrap;">{{ item.last_modified_desc }}</p>
                    {% endif %}
                </div>

                <div class="edit-form">
                    <h3>Modifica evento:</h3>
                    <br>
                    <label for="edit-title-{{ loop.index }}">Titolo</label>
                    <input type="text" id="edit-title-{{ loop.index }}" value="{{ item.title }}">

                    <label for="edit-time-{{ loop.index }}">Orario</label>
                    <input type="time" id="edit-time-{{ loop.index }}" value="{{ item.when.strftime('%H:%M') }}">

                    <label for="edit-date-{{ loop.index }}">Giorno</label>
                    <input type="date" id="edit-date-{{ loop.index }}" value="{{ item.when.strftime('%Y-%m-%d') }}">

                    <label for="edit-desc-{{ loop.index }}">Descrizione</label>
                    <textarea id="edit-desc-{{ loop.index }}">{{ item.description }}</textarea>
                </div>
        </div>
    {% endfor %}
</div>

<div class="filler"></div>

<script src="{{ url_for('static', filename='animations.js') }}"></script>

</body>
</html>
