<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Giorno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="banner">
        <button class="back-button" onclick="goBack()">⏪</button>
        Eventi {{ day }}/{{ month }}/{{ year }}
        <button class="forward-button" onclick="goForward()">⏩</button>
    </div>

    <div class="calendar-container">
        {% for item in day_objects %}
            <div class="day-entry color-{{ loop.index0 % 3 }}" onclick="toggleDetails(this)">
                <div class="day-header">
                    <span>{{ item.when.strftime('%H:%M') }} - {{ item.title }}</span>
                    <span class="arrow">▼</span>
                </div>
                <div class="day-details">
                    <p>Caricato da: <strong>{{ item.username }}</strong></p>
                    
                    <hr>
                
                    <p style="white-space: pre-wrap;">{{ item.description }}</p>
                
                    {% if item.old_version != 'Nessuna versione precedente' %}
                        <hr>
                        <p><strong>Versione precedente:</strong></p>
                        <p style="white-space: pre-wrap;">{{ item.old_version }}</p>
                    {% endif %}
                
                    {% if item.last_modified_desc != '' %}
                        <hr>
                        <p><strong>Modifiche:</strong></p>
                        <p style="white-space: pre-wrap;">{{ item.last_modified_desc }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function toggleDetails(entry) {
            const details = entry.querySelector('.day-details');
            const arrow = entry.querySelector('.arrow');
            details.style.display = details.style.display === 'block' ? 'none' : 'block';
            arrow.classList.toggle('rotate');
        }
    </script>

    <script>
        function goBack() {
            window.history.back(); // Go to the previous page in the browser history
        }

        function goForward() {
        window.history.forward(); // Go to the next page in the browser history
        }
    </script>

</body>
</html>
